service:
  enabled: true
  single: true
  type: NodePort

nodeSelector:
  role: main

# Persist ACME certificates to OCI Block Volume
persistence:
  enabled: true
  name: traefik-acme
  accessMode: ReadWriteOnce
  size: 50Gi
  storageClass: oci-bv-traefik
  path: /data

# Fix permissions on acme.json
deployment:
  initContainers:
    - name: volume-permissions
      image: busybox:latest
      command: ["sh", "-c", "touch /data/acme.json && chmod -v 600 /data/acme.json && chown 65532:65532 /data/acme.json"]
      securityContext:
        runAsNonRoot: false
        runAsGroup: 0
        runAsUser: 0
      volumeMounts:
        - name: traefik-acme
          mountPath: /data

ports:
  traefik:
    port: 9000
    expose:
      default: true
    exposedPort: 9000
    protocol: TCP
  web:
    port: 8000
    expose:
      default: true
    exposedPort: 80
    nodePort: 32080
    protocol: TCP
    # HTTP to HTTPS redirect
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
    nodePort: 32443

# ACME Certificate Resolver for Let's Encrypt
certificatesResolvers:
  letsencrypt:
    acme:
      email: me@junaid.guru
      storage: /data/acme.json
      httpChallenge:
        entryPoint: web
