.idea/
.env
node_modules/
*.log
.DS_Store
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform-states_bucket_credentials
.terraform/
data/
crash.log
crash.*.log
wip/01-namespace-access/accounts/
